/* .ride-header{
    font-weight: bolder !important  ;
} */

.ride-container{
    margin-top: 40px;
}

.icon{
    height: 70px;
    width: 70px;
    margin: auto;
    font-size: 2.5em;
    background-color: lavender;
    border-radius: 10px;
    color: orangered;
    margin-top: 40px;
    /* padding: 0px 30px; */
}
.icon:hover{
    background : linear-gradient(orangered,orange);
    color: #fff;
}
.text{
    margin: 25px 0px;
    font-weight: bold;
}
.desc{
    /* padding: 0px 40px; */
}