@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}
.navbar-brand{
    /* margin-left: 100px; */
    font-weight: bold;
    font-size: x-large;
}

.navbar-brand>span{
    color: orangered;
}

.nav-link{
    font-weight: 550;
    color: #000;
}

.nav-link.active-link{
    border-bottom: 3px solid orangered;
    color: black;
}

.nav-link:hover{
     font-weight: 550;
     color: orangered !important;
}

a.nav-link{
    padding-bottom: 3px;
    font-weight: 550;
    text-decoration: none !important
}

ul>li{
    padding: 0px 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.btn-login{
    height: 40px;
    line-height:40px;
    background-color: orangered;
    text-align: center;
    min-width: 100px;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
    
}
a{
    text-decoration: none !important;
}
.btn-login:hover{
    font-weight: bold;
    color: #fff;
}

